<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head") %> 
<body>
    <%-include("./partials/header") %> 

 <div class="container-slider"> 
        
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="/images/img1.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img2.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img3.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img4.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img5.jpg" alt="" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
    
    <main class="special-products">
        <h2 class="main-title"> Seleccion de Destacados</h2>
        <% antiguedades.forEach(product => { %>
            <%-include("partials/homeProductsCard") %>
        <% }) %>
    </main>
  <!--   <main class="in-sale-products">
        <h2 class="main-title"> Ofertas</h2>
        <section class="container-products">
            <div class="product">
                <a href="/product/detail"><img src="/images/products/1.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Aguadeño</h3>
                    <span class="product__price">$50</span>
                </div>
                    <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="/product/detail"><img src="/images/products/2.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Mexicano</h3>
                    <span class="product__price">$67</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="/product/detail"><img src="/images/products/3.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Abanero</h3>
                    <span class="product__price">$90</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="/product/detail"><img src="/images/products/4.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Volteao</h3>
                    <span class="product__price">$71</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>

        </section>

    </main>
    <main class="imperdible-products">
        <h2 class="main-title">Productos Imperdibles</h2>
        <section class="container-products">
            <div class="product">
                <a href="/product/detail"><img src="/images/products/1.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Aguadeño</h3>
                    <span class="product__price">$50</span>
                </div>
                    <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="/product/detail"><img src="/images/products/2.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Mexicano</h3>
                    <span class="product__price">$67</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="/product/Detail"><img src="/images/products/3.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Abanero</h3>
                    <span class="product__price">$90</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="/product/detail"></a><img src="/images/products/4.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Volteao</h3>
                    <span class="product__price">$71</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>

        </section>

    </main> -->
    
    
    <%-include("./partials/footer") %> 

    

<!--     <script src="/js/slider.js"></script> -->
    <script src="/js/burger.js"></script>
</body>
</html>

