<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %> 
<body>
    <%-include("./partials/header") %> 
    <main>
        <h1><i class="fa-solid fa-cart-shopping"></i>Mi carrito<i class="fa-solid fa-cart-shopping fa-flip-horizontal"></i></h1>
        <div class="cartLine"></div>
        <section id="product">
            <h2><i class="fa-solid fa-masks-theater"></i>Mis productos</h2>
            <article>
                <div class="cartProduct" id="cartProduct">
                    <div class="item">
                        <h3>Producto</h3>
                        <img src="/images/imagePlaceholder.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, aspernatur blanditiis, ipsum tempora delectus porro sapiente nulla nostrum obcaecati quis facilis eos aliquam vitae, distinctio cupiditate nesciunt rerum aliquid corporis.</p>
                        <div class="toggleCartProductBtn">
                            <button class="cartRemove">-</button>
                            <span class="counter" id="counter1">0</span>
                            <button class="cartAdd">+</button>
                        </div>
                        <div class="cartPrice">$1000</div>
                        <button class="cartProductDelete">
                            <i class="fa-solid fa-trash-can"></i>                    
                        </button>
                    </div>
                    <div class="item">
                        <h3>Producto</h3>
                        <img src="/images/imagePlaceholder.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, aspernatur blanditiis, ipsum tempora delectus porro sapiente nulla nostrum obcaecati quis facilis eos aliquam vitae, distinctio cupiditate nesciunt rerum aliquid corporis.</p>
                        <div class="toggleCartProductBtn">
                            <button class="cartRemove">-</button>
                            <span class="counter" id="counter2">0</span>
                            <button class="cartAdd">+</button>
                        </div>
                        <div class="cartPrice">$1000</div>
                        <button class="cartProductDelete">
                            <i class="fa-solid fa-trash-can"></i>                    
                        </button>
                    </div>
                    <div class="item">
                        <h3>Producto</h3>
                        <img src="/images/imagePlaceholder.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, aspernatur blanditiis, ipsum tempora delectus porro sapiente nulla nostrum obcaecati quis facilis eos aliquam vitae, distinctio cupiditate nesciunt rerum aliquid corporis.</p>
                        <div class="toggleCartProductBtn">
                            <button class="cartRemove">-</button>
                            <span class="counter" id="counter3">0</span>
                            <button class="cartAdd">+</button>
                        </div>
                        <div class="cartPrice">$1000</div>
                        <button class="cartProductDelete">
                            <i class="fa-solid fa-trash-can"></i>                    
                        </button>
                    </div>
                    <div class="item">
                        <h3>Producto</h3>
                        <img src="/images/imagePlaceholder.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, aspernatur blanditiis, ipsum tempora delectus porro sapiente nulla nostrum obcaecati quis facilis eos aliquam vitae, distinctio cupiditate nesciunt rerum aliquid corporis.</p>
                        <div class="toggleCartProductBtn">
                            <button class="cartRemove">-</button>
                            <span class="counter" id="counter4">0</span>
                            <button class="cartAdd">+</button>
                        </div>
                        <div class="cartPrice">$1000</div>
                        <button class="cartProductDelete">
                            <i class="fa-solid fa-trash-can"></i>                    
                        </button>
                    </div>
                    <div class="item">
                        <h3>Producto</h3>
                        <img src="/images/imagePlaceholder.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, aspernatur blanditiis, ipsum tempora delectus porro sapiente nulla nostrum obcaecati quis facilis eos aliquam vitae, distinctio cupiditate nesciunt rerum aliquid corporis.</p>
                        <div class="toggleCartProductBtn">
                            <button class="cartRemove">-</button>
                            <span class="counter" id="counter5">0</span>
                            <button class="cartAdd">+</button>
                        </div>
                        <div class="cartPrice">$1000</div>
                        <button class="cartProductDelete">
                            <i class="fa-solid fa-trash-can"></i>                    
                        </button>
                    </div>
                    
                    <button type="button" class="cartbtn" id="cartProductBtn"><i class="fa-solid fa-chevron-down"></i></button>
                </div>
            </article>
        </section>
        
        <section class="cartShipping">
            <h2><i class="fa-solid fa-truck"></i>Metodos De Envio</h2>
            
            <article class="branch" id="branch">
                
                <div>
                    <label for="branch" class="cartShippingbtnInput">
                        <input type="radio" name="branch" id="">
                        <span>Retiro por sucursal</span> 
                        <div>El solicitante podra retirarlo por el local en el horario establecido</div>
                        <div>GRATIS!</div>
                    </label>
                                 
                </div>
               <button type="button" class="cartShippingbtn" id="LocalBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>
           
            <article class="pickUp" id="pickUp">
                <div>
                    <label for="branch" class="cartShippingbtnInput">
                        <input type="radio" name="branch" id="">
                        <span>Retiro por punto Pick UP</span>
                        <div>El solicitante podra retirarlo por cualquier punto Pick UP</div>
                        <div>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Ver puntos PICK UP cercanos</a>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209947.8231699205!2d-58.46880908424432!3d-34.694213293120704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3353526257337%3A0xda93862a3e78432a!2sGlobant!5e0!3m2!1ses-419!2sar!4v1673373091778!5m2!1ses-419!2sar" width="100" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </label>
                </div>
                <button type="button" class="cartShippingbtn" id="pickUpBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>

            <article class="shipping" id="shipping">
                <div>
                <label for="branch" class="cartShippingbtnInput">
                    <input type="radio" name="branch" id="">
                    <span>Envio a domicilio</span>
                    <div>El solicitante podra solicitar el envio a domicilio que llegara dentro de los 5 dias habiles en el horario de 9 a 21 hs</div>
                    <div>
                        ¡calcule su costo de envio!
                        <button class="shippingSendCostBtn"> Calcular </button>
                    </div>
                </label>
            </div>
            <button type="button" class="cartShippingbtn" id="doorToDoorBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>
            
        </section>
        
        <section class="cartPayment">
            <h2><i class="fa-solid fa-money-bill-wave"></i>Metodos de pago</h2>
            <article class="cartPaymentCash" id="cartPaymentCash">
                <div>
                    <label for="payment">
                        <input type="radio" name="cartPayment">
                        <span>Efectivo</span>
                        <div class="p">
                            Podra pagar el precio especial abonando la cantidad completa
                        </div>
                    </label>
                </div>
                <button type="button" class="cartShippingbtn" id="cartPaymentCashBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>

            <article class="cartPaymentMercadoPago" id="cartPaymentMercadoPago">
                <div>
                    <label for="payment">
                        <input type="radio" name="cartPayment">
                        <span>Mercado Pago</span>
                        <div class="p">
                            precio especial en un pago o pago en cuotas a precio de lista
                        </div>
                    </label>
                </div>
                <button type="button" class="cartShippingbtn" id="cartPaymentMercadoPagoBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>

            <article class="cartPaymentBank" id="cartPaymentBank">
                <div>
                    <label for="payment" name="cartPayment">
                        <input type="radio" name="cartPayment">
                        <span>Transferencia Bancaria</span>
                        <div class="p">
                            Podra abonar el precio especial de la compra abonando la cantidad completa
                        </div>
                    </label>
                </div>
                <button type="button" class="cartShippingbtn" id="cartPaymentBankBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>

            <article class="cartPaymentCreditCard" id="cartPaymentCreditCard">
                <div>
                    <label for="payment" name="cartPayment">
                        <input type="radio" name="cartPayment">
                        <span>Tarjeta de credito</span>
                        <div class="p">
                            <form method="post">
                            <label for="">
                                <input type="radio" name="payment" id="">
                                1 Pago (Visa, Mastercard)
                            </label>
                            <label for="">
                                <input type="radio" name="payment" id="">
                                3 Cuotas (Visa,Mastercard)
                            </label>
                            <label for="">
                                <input type="radio" name="payment" id="">
                                Ahora 12 (Visa,Mastercard)
                            </label>
                            <label for="">
                                <input type="radio" name="payment" id=""> 
                                Ahora 18 (Visa,Mastercard)             
                            </label>
                            </form>
                        </div>
                    </label>
                </div>
                <button type="button" class="cartShippingbtn" id="cartPaymentCreditCardBtn"><i class="fa-solid fa-chevron-down"></i></button>
            </article>
        </section>
        
        <section class="cartResume">
            <h2><i class="fa-solid fa-barcode"></i>Resumen de pedido</h2>
            <article>
                <div class="cartDiscountCode">
                    <label for="cartDiscountCode">
                        Codigo de descuento:
                    </label>
                    <input type="text" class="cartCalculationMoney" placeholder="Ingrese su codigo aqui">
                </div>
                <div class="cartCalculation">
                    <span>Subtotal :</span>
                    <span class="cartCalculationMoney">$1000</span>
                </div>
                <div class="cartCalculation">
                    <span>Costos de envio :</span>
                    <span class="cartCalculationMoney">$1000</span>
                </div>
                <div class="cartCalculation">
                    <span>Descuento por Codigo :</span>
                    <span class="cartCalculationMoney">$1000</span>
                </div>
                <div class="cartCalculationTotal">
                    <span>Total :</span>
                    <span class="cartCalculationMoney">$1000</span>
                </div>
            </article>
            <div class="cartFinalBtnDiv">
            <button type="button" class="cartFinalBtn">
                Completar transaccion
            </button>
            <button type="button" class="cartDelete">
                <p><i class="fa-solid fa-trash-can"></i></p>
                Eliminar
            </button>
            
        </div>
        </section>
        <section class="cartOtherProducts">
            <h2><i class="fa-solid fa-trophy"></i>Otros productos similares</h2>
            <article class="cartOtherProductsFlex">
                <div>
                    <img src="/images/imagePlaceholder.jpg" alt="">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laborum et beatae eligendi dicta vel corporis veniam, eveniet labore explicabo!</p>
                </div>
                <div>
                    <img src="/images/imagePlaceholder.jpg" alt="">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laborum et beatae eligendi dicta vel corporis veniam, eveniet labore explicabo!</p>
                </div>
                <div>
                    <img src="/images/imagePlaceholder.jpg" alt="">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laborum et beatae eligendi dicta vel corporis veniam, eveniet labore explicabo!</p>
                </div>
                <div>
                    <img src="/images/imagePlaceholder.jpg" alt="">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laborum et beatae eligendi dicta vel corporis veniam, eveniet labore explicabo!</p>
                </div>
                <div>
                    <img src="/images/imagePlaceholder.jpg" alt="">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laborum et beatae eligendi dicta vel corporis veniam, eveniet labore explicabo!</p>
                </div>
            </article>
        </section>
        </main>
        <%-include("./partials/footer") %> 
    <script src="/js/cart.js"></script>
</body>
</html>