<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head") %> 
<body>
    <%-include("./partials/header") %> 
    <main>
        <aside>
            <div>
                <ul>
                    <li>electro</li>
                    <li>home</li>
                    <li>cocina</li>
                </ul>
            </div>
        </aside>
        <section>
            <div>
                aca van los productos
            </div>
        </section>
    </main>
    <%-include("./partials/footer") %> 
</body>
</html>