<footer class="footer-main">
    <div class="footer-contenedor">
       
      <div class="footer-logo">
            <img src="/images/logo.png" alt="">
         </div>
       
       <div class="footer-caja-titulos">
    
       <div class="footer-caja-titulo">
        <h2>Informacion</h2>
        <nav class="footer-caja-links-informacion">
         <ul>
            <li>
               <a href="/about">Nosotros</a>
            </li>
            <li>
               <a href="">Métodos de Pago</a>
            </li>
            <li>
               <a href="">Envios</a>
            </li>
            <li>
               <a href="">Contacto</a>
            </li>
         </ul>
        </nav>
       </div>

       <div class="footer-caja-titulo">
        <h2> Ayuda</h2>
        <nav class="footer-caja-links-ayuda">
         <ul>
            <li>
               <a href="/user/register">Registro</a>
            </li>
            <li>
               <a href="/user/login">Iniciar sesión</a>
            </li>
            <li>
               <a href="">Preguntas Frecuentes</a>
            </li>
         </ul>
        </nav>
       </div>

         </div>

       <div class="footer-caja-redes">
           <div class="footer-icon-container">
        <h2>Redes Sociales</h2>
        <a class="footer-icon-facebook" href="">
         <i class="fab fa-facebook-square"></i>
      </a>
        <a class="footer-icon-twitter" href="">
         <i class="fab fa-twitter-square"></i>
      </a>
        <a class="footer-icon-instagram" href="">
         <i class="fab fa-instagram-square"></i>
      </a>
        <a class="footer-icon-whatsapp" href="">
         <i class="fab fa-whatsapp-square"></i>
      </a>
       </div>
         </div>
      
    </div>
    <div class="caja__derechos">
      <hr>
      <p>Todos los derechos reservados 2023</p>

    </div>

</footer>