<header class="header-main">
  <div class="header-title">
    <h1 class="first-title">ArteSan APP</h1>
 
  </div>   
    <div class="header-logo">
       <a href="/">
        <img src="/images/logo.png" alt="logo ArtesanApp">
      </a>
    </div>
    <div class="header-busqueda">
        <form action="search" method="post">
            <input class="header-barra-busqueda" type="text" placeholder="Buscar productos, Marcas...">
        </form>
        <nav class="header-caja-links">
          <ul>
            <li>
              <a href="/products" class="header-nav-link">Productos</a>
            </li>
            <li>
              <a href="" class="header-nav-link">Ofertas</a>
            </li>
            <li>
              <a href="/products/create" class="header-nav-link">Vender</a>
            </li>
            <li>
              <a href="/about" class="header-nav-link">Nosotros</a>
            </li>
          </ul>
        </nav>
      </div>
   <button class="header-log-in"> 
     <a href="/user/login">
      <i class="fa-regular fa-user"></i>
    </a>
   </button>
   <button class="header-go-cart"> 
     <a href="/productCart">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
   </button>
   <div class="header-burger-menu" >
    <div class="header-burger-menu-close">X</div>
    <div class="header-burger-menu-barra">
      <i class="fas fa-bars"></i>
      <nav>
        <ul>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
          <li>lorem</li>
        </ul>
      </nav>
     </div>
   </div>
   
</header>