<header>
       
    <div class="header-logo">
       <a href="/"><img src="/images/logo.png" alt="logo ArtesApp"></a>
    </div>
    <div class="busqueda">
        <form action="search" method="post">
   <input class="barra-busqueda" type="text" placeholder="Buscar productos, Marcas...">
</form>
     <div class="caja__links">
       <a href="" class="nav-link">Productos</a>
       <a href="" class="nav-link">Ofertas</a>
       <a href="" class="nav-link">Vender</a>
       <a href="/about" class="nav-link">Nosotros</a>
     <label for="check" class="barra">
       <i class="fas fa-bars"></i>
       <div class="sub__menu">
       <a href="" class="nav-link">info</a>
       <a href="" class="nav-link">info</a>
       <a href="" class="nav-link">info</a>
       <a href="" class="nav-link">info</a>
     </div>
     </label>
     </div>
   </div>
   <button class="log-in"> 
     <a href="/user/login"><i class="fa-regular fa-user"></i></a>
   </button>
   <button class="go-cart"> 
     <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
   </button>
</header>