@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Libre+Franklin:wght@300&family=Milonga&family=Nerko+One&family=Parisienne&display=swap');

:root {
    /*colores*/
    --negro: #000;
    --blanco: #fff;
    --verde: #B5D5C5;
    --violeta: #B08BBB;
    --naranja: #ECA869;
    --beige: #f5f5dc;
    /* fuentes */
    --Diplomata: "Diplomata SC", cursive;
    --Franklin: 'Libre Franklin', sans-serif;
    --Milonga: 'Milonga', cursive;
    --Nerko: 'Nerko One', cursive;
    --Paris: 'Parisienne', cursive;
    /* Tamaños tipograficos*/
    --titulo: 36px;
    --subtitulo: 30px;
    --parrafo: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    height: 70px;
    background: linear-gradient(var(--verde), var(--blanco), var(--violeta));
    justify-content: space-evenly;
    border: 1px solid var(--negro);
    box-shadow: 3px 3px 15px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
}
header input{
    border-radius: 15px;
    border: 1px solid var(--violeta);
    text-align: center;
    width: 100%;
    font-family: var(--Milonga);
}
a{
    font-family: var(--Milonga);
}

a.nav-link {
color: var(--violeta);
text-shadow: 1px black;
font-family: var(--Milonga);
font-weight: bolder;
}



.logo {
    display: flex;
    align-items: center;
}
.logo:hover{
    transition: all 1s;
    transform: scale(1.1);
}

.header-logo{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.header-logo img{
    width: 60px;
    margin-left: 5px;

}

.logo img {
    margin-left: 5px;
    max-width: 100px;
}



header div a {
    display: flex;
    font-weight: 300;
    padding-right: 10px;
    font-size: 10px;
    margin: 3px;
    text-decoration: none;
}

footer div a {
    font-weight: 300;
    padding-right: 10px;
    font-size: 10px;
    margin: 3px;
    text-decoration: none;
}

div.busqueda {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px 0px;
    text-align: center;
}

header button {
    display: flex;
    margin-top: 16px;
    height: 30px;
    width: 40px;
    box-shadow: inset 7px -7px 16px var(--violeta);
    border: 1px solid var(--negro);
    font-family: var(--Nerko);
    cursor: pointer;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: none;

}

div a:hover {
    transform: scale(1.2);
    transition: all 1s;

}

footer {
    width: 100%;
    height: 100%;

}


.contenedor__footer {
    display: flex;
    border-top: 3px solid var(--negro);
    height: 150px;
    background: linear-gradient(var(--verde), var(--violeta));
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    flex-direction: row;
}

.caja__titulo {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.caja__titulo a{
    color:black
}

div h2 {
    font-size: 12px;
    margin: 0px;

}

.caja__derechos {
    max-width: 100%;
    font-size: 12px;
    text-align: center;
    background: linear-gradient(var(--violeta), var(--blanco));
    


}

div.caja__links {
    display: flex;
    margin-top: 5px;
    height: 20px;
    justify-content: space-between;

}

.barra {
    color: var(--violeta);
    cursor: pointer;
}

div.sub__menu {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--violeta), var(--blanco));
    visibility: hidden;

}

label.barra {
    visibility: visible;
    opacity: 1;
}

footer div.caja__titulos {
    display: flex;
    width: 100%;
       justify-content: center;
align-items: center;
margin-left: 10px;

}
footer div.caja__titulos h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer div.caja__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a.social-icon{
    display: flex;
    justify-content: center;
  
} 
div.caja__redes{
    display:flex;
    width:50%;
    justify-content: center;
    text-align: center;
    
}
.icon-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
/* Social icon */
.icon-facebook i.fab {
    color: blue;
    font-size: 16px;
    background-color: white;
    box-shadow: 2px 2px 2px blue;
    border-radius: 5px;
    border: 1px solid blue;
    width: 30px;
}
.icon-twitter i.fab {
    color: lightskyblue;
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px lightskyblue;
    border-radius: 5px;
    border: 1px solid lightskyblue;
    width: 30px;
}
.icon-instagram i.fab {
    color: rgb(85, 6, 85)6, 4, 126;
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px purple;
    border-radius: 5px;
    border: 1px solid purple;
    width: 30px;
}

.icon-whatsapp i.fab {
    color: rgb(32, 174, 32);
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px  rgb(32, 174, 32);
    border-radius: 5px;
    border: 1px solid  rgb(32, 174, 32);
    width: 30px;
}
.icon-container a:hover{
    transform: perspective(1.1);
    transition: all 1s;
}






@media (min-width: 768px) {
    header button{
        display: flex;
        
    }
    header{
        justify-content: space-evenly;
        width: 100%;
    }
    header div.busqueda{
        width: 400px;
    }
    header div.busqueda input{
        width: 100%;
    }
    div.caja__links a.nav-link{
        padding-right: 20px;
     
    }
    header div a {
        font-size: 13px;
    }

    footer div a {
        font-size: 13px;
    }

    .barra {
        display: none
    }

    .logo img {
        height: 160px;
        margin-left: 15px;
        margin-right: 60px;
        max-width: 200px;
    }

    div h2 {
        font-size: 16px;

    }
    .contenedor__footer{
        display: flex;
        justify-content: space-around;
    }

    div.caja__titulos{
        font-size: var(--subtitulo);
    }
    div.caja__titulo {
        margin-right: 100px;
    }
}