@import url("general.css");
/*--------------- HEADER START ---------------*/

header.header-main .header-title h1.first-title,h1.secundary-title{
   display: none;
   

}
header.header-main {
    width: 100%;
    display: flex;
    height: 125px;
    background: linear-gradient(var(--verde), var(--blanco), var(--violeta));
    justify-content: space-evenly;
    border: 1px solid var(--negro);
    box-shadow: 3px 3px 15px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    flex-wrap: wrap;
}

header.header-main div.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}


header.header-main div.header-logo:hover{
    transition: all 1s;
    transform: scale(1.1);
}

header.header-main div.header-logo a img{
    width: 75px;
    
}

header.header-main a{
    font-family: var(--Milonga);
}

header.header-main div.header-busqueda {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px 0px;
    text-align: center;
    width: 50%;
}

header.header-main div.header-busqueda form input.header-barra-busqueda{
    border-radius: 15px;
    border: 1px solid var(--violeta);
    text-align: center;
    width: 50vw;
    font-family: var(--Milonga);
}
header.header-main nav.header-caja-links{
    display: none;
}

header.header-main div.header-busqueda nav.header-caja-links ul {
    display: flex;
    margin-top: 5px;
    height: 20px;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin-top: 1.5rem;
    padding: 5px;
    border-radius:10px;
}

header.header-main nav.header-caja-links ul li a{
    background: var(--verde);
    color: var(--negro);
    border-bottom: 3px ridge var(--violeta);
    border-top: 3px groove var(--blanco);
    border-right: 3px groove var(--blanco);
    border-left: 3px ridge var(--violeta);
    border-radius: 15px;
    font-size: var(--parrafo);
    text-decoration: none;
    padding: 5px;
    ;
}

header.header-main nav.header-caja-links ul li a:hover{
    background: var(--negro);
    color: var(--blanco);
}

/* BURGER MENU CLOSED */

header.header-main div.header-burger-menu-barra nav{
    display: none;
}
header.header-main div.header-burger-menu-close{
    display: none;
    
}

header.header-main div.header-burger-menu-barra{
    background-color: var(--blanco);
    font-size: var(--titulo);
    border: 2px solid var(--violeta);
    color: var(--negro);
    border-radius: 10px;
    height: 45px;
}
header.header-main div.header-burger-menu-barra:hover{
    background-color: var(--negro);
    color: var(--blanco);
}
header.header-main div.header-burger-menu-barra:active{
    background-color: var(--naranja);
    color: var(--negro);
    
}



/*--------------- BURGER MENU OPEN START ---------------*/
header.header-main div.header-burger-menu-burger{
    position: fixed;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    
}

header.header-main div.header-burger-menu-burger div.header-burger-menu-barra-burger{
    position: fixed;
    top: 0;
    left: 0;
    height: 250px;
    width: 100%;
    background-color: var(--naranja);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    border: 1px solid black;
    transition: all 0.5s;
}

header.header-main div.header-burger-menu-burger div.header-burger-menu-barra-burger i{
    display: none;
}

header.header-main div.header-burger-menu-burger div.header-burger-menu-barra-burger ul{
    list-style: none;
}

header.header-main div.header-burger-menu-burger div.header-burger-menu-close-burger{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 50px;
    background-color: white;
    cursor: pointer;
    
}




/*--------------- CART AND LOGIN BUTTONS ---------------*/
header.header-main button.header-log-in-burger{  
    margin-top: 1rem;
    height: 30px;
    width: 40px;
    box-shadow: inset 7px -7px 16px var(--violeta);
    border: 1px solid var(--negro);
    font-family: var(--Nerko);
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 999;
}
header.header-main button.header-go-cart-burger{ 
    margin-top: 10rem;
    height: 30px;
    width: 40px;
    box-shadow: inset 7px -7px 16px var(--violeta);
    border: 1px solid var(--negro);
    font-family: var(--Nerko);
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 999;
    
}


/* BURGUER MENU BUTTON STYLES */

/*--------------- BURGER MENU END ---------------*/


header.header-main button.header-go-cart{ 
   margin-top: 16px;
   height: 30px;
   width: 40px;
   box-shadow: inset 7px -7px 16px var(--violeta);
   border: 1px solid var(--negro);
   font-family: var(--Nerko);
   font-size: 20px;
   cursor: pointer;
   border-radius: 15px;
   display: none;
}
header.header-main button.header-log-in a i{
    text-decoration: none;
}
header.header-main button.header-log-in{ 
   margin-top: 16px;
   height: 30px;
   width: 40px;
   box-shadow: inset 7px -7px 16px var(--violeta);
   border: 1px solid var(--negro);
   font-family: var(--Nerko);
   font-size: 20px;
   cursor: pointer;
   border-radius: 15px;
   display: none;
}
/* header buttons */
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 10px;
    border-radius: 15px;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--violeta);
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-family: var(--Milonga);
    font-size: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--beige); border-radius: 15px;}
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


/*--------------- HEADER END ---------------*/

/*--------------- FOOTER START ---------------*/

footer.footer-main {
    width: 100%;
    height: 100%;
}

footer.footer-main div a {
    font-weight: 300;
    padding-right: 10px;
    font-size: 10px;
    margin: 3px;
    text-decoration: none;
}
footer.footer-main div.footer-contenedor {
    display: flex;
    border-top: 3px solid var(--negro);
    height: 150px;
    background: linear-gradient(var(--verde), var(--violeta));
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    flex-direction: row;
    width: 100%;
}
footer.footer-main div.footer-contenedor div.footer-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
}

footer.footer-main div.footer-logo img{
    width: 100%;
}

footer.footer-main div.footer-contenedor div.footer-caja-titulos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

footer.footer-main div.footer-contenedor div.footer-caja-titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer.footer-main div.footer-contenedor div.footer-caja-titulo a{
    color: var(--negro);
    display: flex;
    flex-direction: column;
    width: 50%;
    color:black;
    padding: 2px;
    margin-left: 5px;
    justify-content: space-evenly;
}

footer.footer-main div.footer-contenedor div.footer-caja-titulo ul{
    list-style: none;
}

footer.footer-main div.footer-contenedor div.footer-caja-titulo h2{
        font-size: 0.8rem;
}

footer.footer-main div.footer-contenedor div.footer-caja-titulo h2{
    font-size: 0.8rem;
}

footer.footer-main div.caja__derechos {
    max-width: 100%;
    font-size: 12px;
    text-align: center;
    background: linear-gradient(var(--violeta), var(--blanco));
}

footer.footer-main div.footer-contenedor div.footer-caja-redes{
    display:flex;
    width:50%;
    justify-content: center;
    text-align: center;
}
footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container h2{
    font-size: 0.8rem;

}
footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
/* Social icon */
footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container a.footer-icon-facebook i.fab {
    color: blue;
    font-size: 16px;
    background-color: white;
    box-shadow: 2px 2px 2px blue;
    border-radius: 5px;
    border: 1px solid blue;
    width: 30px;
}
footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container a.footer-icon-twitter i.fab {
    color: lightskyblue;
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px lightskyblue;
    border-radius: 5px;
    border: 1px solid lightskyblue;
    width: 30px;
}
footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container a.footer-icon-instagram i.fab {
    color: rgb(85, 6, 85)6, 4, 126;
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px purple;
    border-radius: 5px;
    border: 1px solid purple;
    width: 30px;
}

footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container a.footer-icon-whatsapp i.fab {
    color: rgb(32, 174, 32);
    font-size: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px  rgb(32, 174, 32);
    border-radius: 5px;
    border: 1px solid  rgb(32, 174, 32);
    width: 30px;
}
footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container a.footer-icon-container a:hover{
    transform: perspective(1.1);
    transition: all 1s;
}
/*--------------- FOOTER END ---------------*/



/*--------------- MEDIAQUERYS START ---------------*/
@media (min-width: 768px) {
    /*--------------- HEADER START ---------------*/
  

    header.header-main button.header-go-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        /* margin-left: 2rem; */
    }
    header.header-main button.header-go-cart:hover{
        background-color: var(--blanco);
    }
    header.header-main button.header-log-in{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        margin-right: 2rem;
    }
    header.header-main {
        justify-content: space-evenly;
    }
    header.header-main div.header-busqueda{
        width: 60%;
        max-width: 500px;
    }
    header.header-main div.header-burger-menu-barra {
        display: none
    }
    header.header-main div.header-busqueda form input.header-barra-busqueda{
        width: 200px;
     height: 20px;
     box-shadow: 5px 5px 15px black;
    }


    /*--------------- HEADER END ---------------*/

    /*--------------- FOOTER START ---------------*/
    footer.footer-main div.footer-contenedor div.footer-caja-titulos{
        justify-content: space-evenly;
    }
    header.header-main nav.header-caja-links{
        display: flex;
    }
    footer.footer-main div.footer-contenedor div.footer-caja-titulo a{
        font-size: 0.8rem;
    }

    footer.footer-main div.footer-contenedor div.footer-caja-redes div.footer-icon-container h2{
            font-size: 1.2rem;
    }
    footer.footer-main div.footer-contenedor div.footer-caja-titulo h2{
        font-size: 1.5rem;
}

footer.footer-main div.footer-contenedor div.footer-caja-titulo h2{
    font-size: 1.5rem;
}
    /*--------------- FOOTER END ---------------*/
}

@media (min-width: 1024px){
    header.header-main .header-title{
        max-width: 80px;
        margin: 0px 5px;
    }

    header.header-main .header-title h1.first-title,h1.secundary-title{
        display: flex;
        justify-content: center;
        font-family: var(--Milonga);
        font-style: italic;
        font-size: 1.5rem;
        text-align: center;
    }
    header.header-main div.header-busqueda form input.header-barra-busqueda{
     width: 400px;
     height: 20px;
     box-shadow: 5px 5px 15px black;
    }
}
/*--------------- MEDIAQUERYS END ---------------*/












