@import url("/css/styles.css");
@import url("/css/header-footer.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    display: block;
    width: 100%;
}

/**.main-header {
    padding: 0 20px;
}

.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;

}

.main-nav {
    display:  none;
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid black;
    display: block;
    padding: 10px 20px;
}

.main-header__btn{
    display: block;
    padding: 5px 20px;
    color: #454546;
    border: 1px solid black;
    text-decoration: none;
}*/

.main{
    padding: 0 20px;
}

.main-header__input{
    display: block;
    padding: 5px;
    border: 1px solid black;
}

.container-slider{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 20px white;
}

.slider {
    display: flex;
    width: 500%;
    height: 300px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
    margin-top: 10px;
}

.slider__img {
    display: block;
    margin: auto;
    width: 99%;
    height: 100%;
    object-fit:cover;
    border-radius: 15px;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

h2.main-title{
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--Franklin);
    font-weight: bolder;
    font-style: italic;
    box-shadow: 10px 10px 15px black;
    padding-left: 10px;
}

.container-products {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.product {
    width: 90%;
    border: 2px  solid rgb(255, 255, 255);
    box-shadow: 5px 10px 10px white;
    padding: 20px;
    text-align: center;
    margin: 8px;
    border-radius: 10px;
    max-width: 500px;

}
div.product:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px black;
    transition: all 1s;
}


.product__title{
    text-align: center;
    font-size: 2rem;
    color:purple;
    font-style: oblique;
}

.product__price{
    color: var(--negro);
    font-size: 2rem;
    font-family: var(--Franklin);
    font-style: italic;
    font-weight: bold;
    margin: 5px;
}

.product__icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55px;
    height: 50px;
    border-radius: 50%;
    color: var(--violeta);
    margin-top: 10px;
    font-size: 30px;
    margin: auto;
    box-shadow: 3px 3px 15px white;


}
.product__icon:hover{
    transform: rotateY(360deg);
    transition: all 1.2s;

}

.product__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    max-width: 500px;

    
}

@media(min-width:768px){
    .container-slider{
        margin-top: 10px;
        margin-bottom: 40px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 20px white;
    }

    div.product{
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 700px;
       
    }
    .container-products{
        flex-direction: row;

    }
}