@import url("/css/styles.css");
@import url("/css/header-footer.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img {
    display: block;
    width: 100%;
    
} 

/**.main-header {
    padding: 0 20px;
}

.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;

}

.main-nav {
    display:  none;
}

.main-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid black;
    display: block;
    padding: 10px 20px;
}

.main-header__btn{
    display: block;
    padding: 5px 20px;
    color: #454546;
    border: 1px solid black;
    text-decoration: none;
}*/

.main{
    padding: 0 20px;
}

.main-header__input{
    display: block;
    padding: 5px;
    border: 1px solid black;
}

.container-slider{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 20px white;
}

.slider {
    display: flex;
    width: 500%;
    height: 300px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
    margin-top: 10px;
}

.slider__img {
    display: block;
    margin: auto;
    width: 99%;
    height: 100%;
    object-fit:cover;
    border-radius: 15px;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left{
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

h2.main-title{
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--Franklin);
    font-weight: bolder;
    font-style: italic;
    box-shadow: 10px 10px 15px black;
    padding-left: 10px;
}

.container-products {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

div.product {

    width: 90%;
    border: 2px  solid rgb(255, 255, 255);
    box-shadow: 5px 10px 10px white;
    padding: 10px;
    text-align: center;
    margin: 8px;
    border-radius: 10px;
    max-width: 200px;
    position: relative;

}
div.product:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px black;
    transition: all 1s;

}
div.product:hover h3,
div.show-more:hover {
    display: flex;
    transition: all 2s;
}

div.product:hover i.product__icon {
    transform:rotateY(360deg);
    transition: all 1s;

}
div.product:hover div.show-more{
    display: flex;
    transition: all 2s;
}
div.product a img{
    width: 100%;
    max-width:250px ;
    max-height: 140px;
}

div.show-more {
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 40px;
    position: absolute;
    top: 70px;
    opacity: 0.8;
    background-color:var(--violeta);
    display: none;
}
div.show-more a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--Franklin);
    font-weight: bold;
   
   
}

div.product__description {
  
    display: flex;
    justify-content: baseline;
    align-items:center;
    flex-direction: column;
   
}

.product__title{
    text-align: center;
    font-size: 1.3rem;
    color:purple;
    font-style: oblique;
    display: none;
    max-width: 200px;
   
}

.product__price{
    color: var(--negro);
    font-size: 2rem;
    font-family: var(--Franklin);
    font-style: italic;
    font-weight: bold;
    margin: 5px;
}

.product__icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    color: var(--violeta);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    margin: auto;
    box-shadow: 3px 3px 15px white;


}


.product__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    margin: auto;

    
}

@media(min-width:768px){


    main.special-products,
    .in-sale-products,
    .normal-products{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container-slider{
        margin-top: 10px;
        margin-bottom: 40px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 20px white;
        
    }

    div.product{
        width: 230px;
        max-height: 300px;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 700px;
       
    }
    .container-products{
        display: flex;
        max-width: 280px;
        flex-wrap: wrap;
        flex-direction: row;

    }
    .product__img{
        width: 100%;
        max-width: 250px;
    }
}