@import url("./styles.css");

/* body{
    background: url(/images/background.jpeg);
} */

main.product-create{
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
}

main.product-create form.product-create-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-evenly;
    background: linear-gradient(var(--verde), var(--blanco), var(--violeta));
    
}
main.product-create form.product-create-form label{
    padding: 2rem;
    display: block;
}

main.product-create form.product-create-form label input {
    display: block;
}

main.product-create form.product-create-form label.product-create-label-file input.product-create-input-file{
    display: none;
}

main.product-create form.product-create-form label.product-create-label-file{
    height: 100px;
    border: 2px solid var(--negro);
    box-shadow: inset 7px -7px 16px var(--violeta);
    font-size: var(--subtitulo);
    color: var(--negro);
    text-shadow: 0px 10px 15px var(--violeta);
    font-family: var(--Nerko);
    border-radius: 50%;
    background: var(--blanco);
}

main.product-create form.product-create-form label.product-create-label-file:active{
    color: var(--blanco);
  text-shadow: 1px 1px 1px var(--violeta);
  background: var(--negro);
  border: 1px solid var(--blanco);
}

main.product-create form.product-create-form div.product-create-div-button{
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}

main.product-create form.product-create-form div.product-create-div-button button{
    padding: 0.5rem;
    margin: 10px;
    border-radius: 10px;
}

@media screen and (min-width:768px){
    main.product-create form.product-create-form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 3rem;
    }
    
}

@media screen and (min-width:1024px){
    main.product-create form.product-create-form div.product-create-div-button{
        display: block;
        width: 100%;
        text-align: center;
        }
    main.product-create form.product-create-form label input{
        height: 25px;
    }
}
