@import url('/css/styles.css');

main.register-main {
    font-family: var(--Franklin);
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}
<<<<<<< HEAD

div.logo-container{
=======
main.register-main .logo-container{
>>>>>>> eb4583a5247120b0dfa641e9d392679fdf4e7b7c
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
<<<<<<< HEAD
div.home-logo{
=======
main.register-main .register-logo{
>>>>>>> eb4583a5247120b0dfa641e9d392679fdf4e7b7c
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
<<<<<<< HEAD
 div.home-logo img{
     display: flex;
     justify-content: center;
     justify-items: center;
     width:60%;
     max-width: 300px;
     margin: auto;
}

a {
=======
 main.register-main div.register-logo img{
    display: flex;
    justify-content: center;
    justify-items: center;
    width:60%;
    max-width: 300px;
    margin: auto;
}
main.register-main a {
>>>>>>> eb4583a5247120b0dfa641e9d392679fdf4e7b7c
    color: darkblue;
    font-size: 0.8rem;
    text-decoration: none;
}

main.register-main h2 {
    
    margin-bottom: 1rem;
    text-align: center;
}

main.register-main hr {
    background: linear-gradient(90deg, black, white);
    height: 3px;
    margin-bottom: 3rem; 
}

main.register-main .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main.register-main .input-container,
main.register-main .button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
}

main.register-main span.error-message {
    color: var(--negro);
    font-size: 0.7rem;
}
main.register-main input.input-style {
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    padding: 0 0.5rem;
    outline: none;
    color: black;
}

main.register-main input.input-style::placeholder {
    color: rgb(184, 177, 177);
}

main.register-main input.input-style:focus {
    box-shadow: 0 0 6px var(--verde);
}

main.register-main label {
    font-size: 0.8rem;
}

main.register-main .form-container {
    background: linear-gradient(var(--violeta), var(--naranja));
    padding: 1rem;
    border-radius: 0.9rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 100%;
}

main.register-main .check{ 
    flex-direction: column;   
}

main.register-main .check label {
    margin-right: 0.5rem;   
}

main.register-main .error-message {
    
    
    margin-top: 0.5rem;
    
}

/* BUTTONS */

main.register-main .btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 0.5rem;
    
}
main.register-main .btn-submit {
    background:  linear-gradient(45deg, rgba(255,255,255,1) 0%,  rgba(106, 219, 140, 0.5) 50%);
    color: rgb(75, 75, 75);
    font-weight: bold;
    transition: all 4s ease;
    
}

main.register-main .btn-submit:hover {
    color: rgb(172, 172, 172);
    box-shadow: -5px -5px 10px rgb(255, 255, 255, 0.7);
    background: linear-gradient(285deg, rgba(255,255,255,0.5) 0%,  rgba(39,255,232,0.5) 50%);
}

/* MEDIA QUERIES */

/* TABLET */

@media screen and (min-width: 768px) {

    main.register-main span.error-message {
        font-size: 14px;
        }
}

/* DESKTOP */

@media screen and (min-width: 1025px) {

}