@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Libre+Franklin:wght@300&family=Milonga&family=Nerko+One&family=Parisienne&display=swap');
@import url("general.css");
@import url("header-footer.css");
@import url("products.css");
@import url("cart.css");
@import url("product-create.css");
@import url("product-edit.css");
@import url("products.css");
@import url("nosotros.css");
@import url("login.css");
@import url("register.css");
@import url("home.css");
@import url("productsDetail.css");
@import url("search.css");


