<section class="admin-control-panel">
    <div>
        <a href="/admin/products">Productos</a>
    </div>
    <div>
        <a href="/admin/users">usuarios</a>
    </div>
    <div>
        <a href="">placeholder</a>
    </div>
    <div>
        <a href="">placeholder</a>
    </div>
    <div>
        <a href="">placeholder</a>
    </div>
</section >