<header>
    <div class="admin-header-nombre">
        Panel de administracion
    </div>
    <div class="admin-header-search">
        <form action="" method="get">
            <input type="search" name="keyword" id="" placeholder="buscar..">
        </form>
    </div>
    <div class="admin-header-logout">
        <a href="/">
            <button>
                volver al Home
            </button>
        </a>
    </div>

</header>