<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtesApp</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
       
         <div class="logo">
             <img src="/images/logo.png" alt="logo ArtesApp">
         </div>
         <div class="busqueda">
        <input type="text" placeholder="Buscar productos, Marcas...">
          <div class="caja__links">
            <a href="" class="nav-link">Productos</a>
            <a href="" class="nav-link">Ofertas</a>
            <a href="" class="nav-link">Vender</a>
            <a href="" class="nav-link">Mas</a>
          <label for="check" class="barra">
            <i class="fas fa-bars"></i>
            <div class="sub__menu">
            <a href="" class="nav-link">info</a>
            <a href="" class="nav-link">info</a>
            <a href="" class="nav-link">info</a>
            <a href="" class="nav-link">info</a>
          </div>
          </label>
          </div>
        </div>
        <button> 
          <i class="fa-regular fa-user"></i>
        </button>
        <button> 
          <i class="fa-solid fa-cart-shopping"></i>
        </button>

          
</header>
<footer>
    <div class="contenedor__footer">
       
         <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
       
       <div class="caja__titulos">
       <div class="caja__titulo">
        <h2>Informacion</h2>
        <a href="">info</a>
        <a href="">info</a>
        <a href="">info</a>
        <a href="">info</a>
       </div>
       <div class="caja__titulo">
        <h2> Ayuda</h2>
        <a href="">info</a>
        <a href="">info</a>
        <a href="">info</a>
        <a href="">info</a>
       </div>
       <div class="caja__titulo">
        <h2>Redes Sociales</h2>
        <a href=""><i class="fab fa-facebook-square"></i> Facebook</a>
        <a href=""><i class="fab fa-twitter-square"></i> Twiter</a>
        <a href=""><i class="fab fa-instagram-square"></i> Instagram</a>
        <a href=""><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
       </div>
      </div>
    </div>
    <div class="caja__derechos">
      <hr>
      <p>Todos los derechos reservados 2023</p>

    </div>

</footer>
</body>
</html>