<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artesanapp</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    
</head>
<body>
    
    
    <!--<a href="https://api.whatsapp.com/send?phone=0123456789&text=Hola, Nececito mas informacion!"> Envíanos un WhatsApp</a> <i class="fa-brands fa-whatsapp"></i> 
    -->

   <header class="main-header">  
    <div class="container container--flex">
        
           
        <span  id="btn-menu"></span>
                
               
        
            </nav>
    </div>  
            
        
    </header>

    <div class="container-slider"> 
        
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="/images/img1.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img2.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img3.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img4.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img5.jpg" alt="" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
    
    <main class="main">
        <h2 class="main-title"> Seleccion de Destacados</h2>
        <section class="container-products">
            <div class="product">
                <img src="/images/products/1.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Aguadeño</h3>
                    <span class="product__price">$50</span>
                </div>
                    <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <img src="/images/products/2.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Mexicano</h3>
                    <span class="product__price">$67</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <img src="/images/products/3.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Abanero</h3>
                    <span class="product__price">$90</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <img src="/images/products/4.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Volteao</h3>
                    <span class="product__price">$71</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>

        </section>

    </main>
    
    
    <script src="/js/slider.js"></script>

    


</body>
</html>

