<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artesanapp</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header>
       
        <div class="header-logo">
           <a href="/"><img src="/images/logo.png" alt="logo ArtesApp"></a>
        </div>
        <div class="busqueda">
            <form action="search" method="post">
       <input type="text" placeholder="Buscar productos, Marcas...">
    </form>
         <div class="caja__links">
           <a href="" class="nav-link">Productos</a>
           <a href="" class="nav-link">Ofertas</a>
           <a href="" class="nav-link">Vender</a>
           <a href="" class="nav-link">+</a>
         <label for="check" class="barra">
           <i class="fas fa-bars"></i>
           <div class="sub__menu">
           <a href="" class="nav-link">info</a>
           <a href="" class="nav-link">info</a>
           <a href="" class="nav-link">info</a>
           <a href="" class="nav-link">info</a>
         </div>
         </label>
         </div>
       </div>
       <button class="log-in"> 
         <a href="/user/login"><i class="fa-regular fa-user"></i></a>
       </button>
       <button class="go-cart"> 
         <a href="ProductCart"><i class="fa-solid fa-cart-shopping"></i></a>
       </button>
</header>

 <div class="container-slider"> 
        
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="/images/img1.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img2.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img3.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img4.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/img5.jpg" alt="" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
    
    <main class="main">
        <h2 class="main-title"> Seleccion de Destacados</h2>
        <section class="container-products">
            <div class="product">
                <img src="/images/products/1.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Aguadeño</h3>
                    <span class="product__price">$50</span>
                </div>
                    <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <img src="/images/products/2.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Mexicano</h3>
                    <span class="product__price">$67</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <a href="productDetail"><img src="/images/products/3.jpg" alt="" class="product__img"></a>
                <div class="product__description">
                    <h3 class="product__title">Abanero</h3>
                    <span class="product__price">$90</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>
            <div class="product">
                <img src="/images/products/4.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Volteao</h3>
                    <span class="product__price">$71</span>
                </div>
                <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
            </div>

        </section>

    </main>
    <form action="">
        <select name="id" id="id">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </form>
    
    
    <footer>
        <div class="contenedor__footer">
           
             <div class="logo">
                <img src="/images/logo.png" alt="">
            </div>
           
           <div class="caja__titulos">
        
           <div class="caja__titulo">
            <h2>Informacion</h2>
            <a href="nosotros">Nosotros</a>
            <a href="">Métodos de Pago</a>
            <a href="">Envios</a>
            <a href="">Contacto</a>
           </div>
           <div class="caja__titulo">
            <h2> Ayuda</h2>
            <a href="register">Registro</a>
            <a href="login">Iniciar sesión</a>
            <a href="">Preguntas Frecuentes</a>
           </div>
        </div>
           <div class="caja__redes">
               <div class="icon-container">
            <h2>Redes Sociales</h2>
            <a class="icon-facebook" href=""><i class="fab fa-facebook-square"></i></a>
            <a class="icon-twitter" href=""><i class="fab fa-twitter-square"></i></a>
            <a class="icon-instagram" href=""><i class="fab fa-instagram-square"></i></a>
            <a class="icon-whatsapp" href=""><i class="fab fa-whatsapp-square"></i></a>
           </div>
        </div>
          
        </div>
        <div class="caja__derechos">
          <hr>
          <p>Todos los derechos reservados 2023</p>
    
        </div>
    
    </footer>

    

    <script src="/js/slider.js"></script>
</body>
</html>

