<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="/css/nosotros.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body  >
    <div >
        <div class="content_s">
        <h1>Sobre ArtesanApp</h1>
            <h2>Quienes somos</h2>
                <p>Somos un grupo de jovenes desarrolladores que motivados por la brecha de competencia negativa en el mercado que genera la falta de identidad digital ;  <br>decidimos   aportar nuestro grano de arena, haciendo uso de nuestras habilidades para crear este proyecto que une la cratividad, el talento, las tradiciones artesanles en un mix que impulsa la mejora activa de la economia</p>
        
            </div>
        <div class="content_s">            
            <h2>Ampliando las miradas</h2>
            <p> Nuestra plataforma busca ayudar a compradores a encontrar esos articulos ofrecidos por los artesanos, dede la comodidad de una pantalla.</p>
        
        </div>
        
        <div class="content_s">
            <h2>Que buscamos?</h2>
            <p> Buscamos potenciar el consumo creativo, ayudando a emprendedores y artesanos a escalar sus negocio hacia un modelo digital, sin barreras geograficas.  <br>Nuestra frase 'Vive, comparte y crea lo mejor de vos'.</p>
        </div>
            

    </div>
</body>
</html>

