<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProductDetail</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/productsDetail.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body> 
      <header>
       
        <div class="logo">
            <img src="/images/logo.png" alt="logo ArtesApp">
        </div>
        <div class="busqueda">
       <input type="text" placeholder="Buscar productos, Marcas...">
         <div class="caja__links">
           <a href="" class="nav-link">Productos</a>
           <a href="" class="nav-link">Ofertas</a>
           <a href="" class="nav-link">Vender</a>
           <a href="" class="nav-link">Mas</a>
         <label for="check" class="barra">
           <i class="fas fa-bars"></i>
           <div class="sub__menu">
           <a href="" class="nav-link">info</a>
           <a href="" class="nav-link">info</a>
           <a href="" class="nav-link">info</a>
           <a href="" class="nav-link">info</a>
         </div>
         </label>
         </div>
       </div>
       <button> 
         <i class="fa-regular fa-user"></i>
       </button>
       <button> 
         <i class="fa-solid fa-cart-shopping"></i>
       </button>

         
</header>

    <!--PRODUCTOS-->
    <section class="detail-products">
      <article class="product">
          <img src="/productos/indumentaria/sombrero3.jpg">
          <div class="btn-left">
            <i class="fa-solid fa-less-than"></i>
          </div>
          <div class="btn-rigth">
            <i class="fa-solid fa-greater-than"></i>
          </div>
      </article></div>
      <div class="products-photos">
        <div class="photo-container"><img src="/productos/indumentaria/sombrero3-vista1.png" alt=""></div>
      <div class="photo-container" ><img src="/productos/indumentaria/sombrero3-vista2.png" alt=""></div>
    </div>
      <div><h2>Sombrero Tela con Diseño de Flor</h2></div>
      <div class="product--description">
        <p>Sombrero hecho en tela regional,con un diseño de flor.
          Realizado por artesanos de primer nivel, de calidad superior.
        </p>
        <a class="more" href="#">Ver más >></a></div>
        <!-- PRODUCTOS SIMILARES -->

<!-- INFORMACION RELACIONADA AL PRODUCTO -->
        <div class="information">
          <div class="stock">
          <h5>Unidades disponibles : </h5>
        </div>
        <div class="price">
          <p>$ 1000.00 </p>
        </div>
        <div class="discount">
          <span>% 30</span><span> Descuento</span>
        </div>
<button class="cart-btn">
  <h4>Agregar al carrito</h4>
</button>

<div class="information-list">
  <h5>Métodos de envío y pagos disponibles :</h5>
  <ul>
    <li><i class="fa-solid fa-money-bill-wave"></i>Efectivo y <a href="#">Tarjetas*</a> </li>
    <li>Acordar con el vendedor</li>
    <li><i class="fa-solid fa-truck"></i>Envios a domicilio o a otros puntos de venta</li>
  </ul>

<button class="btn-calculate"><a class="link" href="#">Calcular Aquí</a></button>
        </div>
        <div class="finalize-purchase-btn">
          <button class="goCart-btn"><a class="link" href="/productCart">Ir a Comprar</a></button>
        </div>
      </div>
</section>
<div class="title-similar-products"><h4>Productos similares</h4></div>
<section class="similar-products">
  <div class="photo-container"><img src="/productos/indumentaria/sombrero1.jpg" alt=""></div>
  <div class="photo-container"><img src="/productos/indumentaria/sombrero2.jpg" alt=""></div>
  <div class="photo-container"><img src="/productos/indumentaria/sombrero4.jpg" alt=""></div>
  <div class="photo-container"><img src="/productos/indumentaria/sombrero7.jpg" alt=""></div>

</section>
<footer>
  <div class="contenedor__footer">
     
       <div class="logo">
          <img src="/images/logo.png" alt="">
      </div>
     
     <div class="caja__titulos">
     <div class="caja__titulo">
      <h2>Informacion</h2>
      <a href="">info</a>
      <a href="">info</a>
      <a href="">info</a>
      <a href="">info</a>
     </div>
     <div class="caja__titulo">
      <h2> Ayuda</h2>
      <a href="">info</a>
      <a href="">info</a>
      <a href="">info</a>
      <a href="">info</a>
     </div>
     <div class="caja__titulo">
      <h2>Redes Sociales</h2>
      <a href=""><i class="fab fa-facebook-square"></i> Facebook</a>
      <a href=""><i class="fab fa-twitter-square"></i> Twiter</a>
      <a href=""><i class="fab fa-instagram-square"></i> Instagram</a>
      <a href=""><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
     </div>
    </div>
  </div>
  <div class="caja__derechos">
    <hr>
    <p>Todos los derechos reservados 2023</p>

  </div>

</footer>

</body>

</html>